<div class="hotel-card">
  <div class="hotel-details">
    <h3>Hotel Name: <span>{{ hotel.name }}</span></h3>
    <h3>Rate: <span>{{ hotel.rate }}</span></h3>
    <h3>Amenities: <span>{{ hotel.amenities }}</span></h3>
  </div>

  <div class="hotel-actions">
    <button
      class="update-btn"
      [routerLink]="[
        '/update-hotels',
        hotel.id,
        hotel.name,
        hotel.rate,
        hotel.amenities
      ]"
    >
      Update Details
    </button>
    <button class="delete-btn" (click)="deleteHotel()">Delete Hotel</button>
  </div>
</div>
